:root {
  --ghn-primitive-color-brand-500: #ff5200;
  --ghn-primitive-color-secondary-500: #006fad;
  --ghn-primitive-color-success-500: #52c41a;
  --ghn-primitive-color-warning-500: #faad14;
  --ghn-primitive-color-error-500: #ff4d4f;
  --ghn-primitive-color-neutral-0: #ffffff;
  --ghn-primitive-color-neutral-50: #fafafa;
  --ghn-primitive-color-neutral-300: #d4d4d8;
  --ghn-primitive-color-neutral-600: #52525b;
  --ghn-primitive-color-neutral-950: #09090b;
  --ghn-primitive-color-neutral-1000: #000000;
  --ghn-primitive-color-inverse-text: #fafafa;
  --ghn-primitive-color-inverse-icon: #f3f3f3;
  --ghn-primitive-spacing-s0: 0px;
  --ghn-primitive-spacing-s2: 2px;
  --ghn-primitive-spacing-s4: 4px;
  --ghn-primitive-spacing-s6: 6px;
  --ghn-primitive-spacing-s8: 8px;
  --ghn-primitive-spacing-s12: 12px;
  --ghn-primitive-spacing-s16: 16px;
  --ghn-primitive-spacing-s24: 24px;
  --ghn-primitive-spacing-s32: 32px;
  --ghn-primitive-radius-r2: 2px;
  --ghn-primitive-radius-r4: 4px;
  --ghn-primitive-radius-r8: 8px;
  --ghn-primitive-font-family-sans: Inter;
  --ghn-primitive-font-family-code: SFMono-Regular;
  --ghn-primitive-font-size-sm: 12px;
  --ghn-primitive-font-size-body: 14px;
  --ghn-primitive-font-size-lg: 16px;
  --ghn-primitive-font-size-title: 18px;
  --ghn-primitive-font-weight-regular: 400;
  --ghn-primitive-font-weight-medium: 500;
  --ghn-primitive-font-weight-semibold: 600;
  --ghn-primitive-font-weight-bold: 700;
  --ghn-primitive-font-letter-spacing-default: 0.1px;
  --ghn-brand-primary: #ff5200;
  --ghn-brand-success: #52c41a;
  --ghn-brand-warning: #faad14;
  --ghn-brand-error: #ff4d4f;
  --ghn-brand-info: #006fad;
  --ghn-brand-link: #006fad;
  --ghn-radius-base: 8px;
  --ghn-size-unit: 4px;
  --ghn-component-input-radius: 4px;
  --ghn-component-select-radius: 4px;
  --ghn-component-tag-radius: 2px;
}
[data-theme="dark"] {
  --ghn-primitive-color-brand-500: #ff5200;
  --ghn-primitive-color-secondary-500: #006fad;
  --ghn-primitive-color-success-500: #52c41a;
  --ghn-primitive-color-warning-500: #faad14;
  --ghn-primitive-color-error-500: #ff4d4f;
  --ghn-primitive-color-neutral-0: #ffffff;
  --ghn-primitive-color-neutral-50: #fafafa;
  --ghn-primitive-color-neutral-300: #d4d4d8;
  --ghn-primitive-color-neutral-600: #52525b;
  --ghn-primitive-color-neutral-950: #09090b;
  --ghn-primitive-color-neutral-1000: #000000;
  --ghn-primitive-color-inverse-text: #fafafa;
  --ghn-primitive-color-inverse-icon: #f3f3f3;
  --ghn-primitive-spacing-s0: 0px;
  --ghn-primitive-spacing-s2: 2px;
  --ghn-primitive-spacing-s4: 4px;
  --ghn-primitive-spacing-s6: 6px;
  --ghn-primitive-spacing-s8: 8px;
  --ghn-primitive-spacing-s12: 12px;
  --ghn-primitive-spacing-s16: 16px;
  --ghn-primitive-spacing-s24: 24px;
  --ghn-primitive-spacing-s32: 32px;
  --ghn-primitive-radius-r2: 2px;
  --ghn-primitive-radius-r4: 4px;
  --ghn-primitive-radius-r8: 8px;
  --ghn-primitive-font-family-sans: Inter;
  --ghn-primitive-font-family-code: SFMono-Regular;
  --ghn-primitive-font-size-sm: 12px;
  --ghn-primitive-font-size-body: 14px;
  --ghn-primitive-font-size-lg: 16px;
  --ghn-primitive-font-size-title: 18px;
  --ghn-primitive-font-weight-regular: 400;
  --ghn-primitive-font-weight-medium: 500;
  --ghn-primitive-font-weight-semibold: 600;
  --ghn-primitive-font-weight-bold: 700;
  --ghn-primitive-font-letter-spacing-default: 0.1px;
  --ghn-brand-primary: #ff5200;
  --ghn-brand-info: #006fad;
  --ghn-brand-link: #006fad;
  --ghn-radius-base: 8px;
}
